.publi {
  margin-left: 5%;
  margin-right:5%;
  margin-top: 2%;
  margin-bottom:5%;
  padding: 20px;

}

.publi p{
  font-size: 18px;
  text-align: justify;
}

.publi a{
  text-decoration: none;
  color: #2f6690;
}

.publi mat-card-title{
  font-size: 24px !important;
}

.publi mat-card-subtitle{
  font-size: 20px !important;
}
