<div class="publi">

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{publicacion.title}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{publicacion.img}}" alt="Fortinet">
  <mat-card-content>
    <p [innerHTML]="publicacion.text">

</p>
  </mat-card-content>
</mat-card>
</div>
