.footer-content{
font-size: 12px;
margin-top: 40px;
background: #3f51b5;
color: #fff;
}

.footer-list {
align-items: center;
display: flex;
flex-flow: row wrap;
padding: 8px;
}


.footer-info {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: column;
    min-width: 225px;
    text-align: center;
}

.footer-bajada {
    flex: 1;
    text-align: center;
}

.footer-CAI {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 225px;
  text-align: center;
}


.footer-logo {
    flex: 1;
    justify-content: flex-start;
}

footer a {
  color: white !important;
  text-decoration: none !important;
}

.contacto{
  font-size: 18px;
}

.logo-footer{
  max-width: 80px;
  max-height: 80px;
  height: auto;
  width: auto;
}
