<footer class="footer footer-content">
  <div class="footer-list">
    <div class="footer-logo">
        <img class="logo-footer" src="assets/img/logo.png" />
      </div>
      <div class="footer-CAI">
          <span >REQUERIMIENTOS INFORMATICOS</span><a class="contacto" href="mailto:cai@aguasbonaerenses.com.ar">CAI@AGUASBONAERENSES.COM.AR</a><span class="contacto">2214297555</span>
        </div>
    <div class="footer-bajada">
        <button mat-raised-button color="primary" onClick="window.open('http://cai.aguasbonaerenses.com.ar')" style="font-size:24px">CARGAR TICKET</button>
      </div>

    <div  class="footer-info"><span>©APLICACIONES INFORMATICAS</span><span>"La gota de agua perfora la roca,</span><span>no por su fuerza sino por su constancia."</span></div>


  </div>
</footer>
