<div class="dir-container">
  <h1>Doumentacion de Normalizacion</h1>

<mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8">





<ng-container matColumnDef="gerencia">
  <mat-header-cell  *matHeaderCellDef> Gerencia/Area de Origen </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.gerencia}} </mat-cell>
</ng-container>

<ng-container matColumnDef="tipo">
  <mat-header-cell  *matHeaderCellDef> Tipo de Documento </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.tipo}} </mat-cell>
</ng-container>

<ng-container matColumnDef="nombre">
  <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
</ng-container>

<ng-container matColumnDef="revision">
  <mat-header-cell *matHeaderCellDef> Revision </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.revision}} </mat-cell>
</ng-container>

<ng-container matColumnDef="fecha">
  <mat-header-cell *matHeaderCellDef> Fecha de ultima Actualizacion </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
</ng-container>

<ng-container matColumnDef="descripcion">
  <mat-header-cell *matHeaderCellDef> Descripcion del documento </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
</ng-container>

<ng-container matColumnDef="link">
  <mat-header-cell *matHeaderCellDef> Descargar </mat-header-cell>
  <mat-cell *matCellDef="let element"><a href="{{element.link}}"><mat-icon style="color:black">cloud_download</mat-icon></a>  </mat-cell>
</ng-container>



<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

<!-- Group header -->
<ng-container matColumnDef="groupHeader">
  <mat-cell colspan="999" *matCellDef="let group">
    <mat-icon *ngIf="group.expanded">expand_less</mat-icon>
    <mat-icon *ngIf="!group.expanded">expand_more</mat-icon>
    <strong>{{group[groupByColumns[group.level-1]]}}</strong>
    </mat-cell>
</ng-container>

<mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup" (click)="groupHeaderClick(row)"> </mat-row>

</mat-table>
    <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
</div>
