<mat-grid-list [cols]="2" rowHeight="2:1" gutterSize="5px" role="navigation">

  <mat-grid-tile class="thumb-card-img"
      *ngFor="let thumb of thumbs"
      [colspan]="thumb.cols"
      [rowspan]="thumb.rows"
      [style.backgroundImage]="'url('+ thumb.img +')'"
      (click)="externalUrl(thumb.link)">
      <a href="{{thumb.link}}" target="_blank"><mat-grid-tile-footer><span class="thumb-title"> {{thumb.text}} </span></mat-grid-tile-footer>
</a>  </mat-grid-tile>
<mat-grid-tile class="thumb-card-img"
    [colspan]="1"
    [rowspan]="2"
    [style.backgroundImage]="'url(assets/img/logoai.png)'"
    [routerLink]="['/appslista']" >
    <a [routerLink]="['/appslist
