<div class="appsLista-container">
  <h1>Aplicaciones</h1>
  <mat-form-field >
    <input matInput type="text" [(ngModel)]="searchText" placeholder="Buscar">
  </mat-form-field>
<mat-grid-list [cols]="6" rowHeight="2:1" gutterSize="5px" role="navigation">
<ng-container>
  <mat-grid-tile class="app-card-img"
      *ngFor="let app of apps | filtro : searchText"
      [colspan]=1
      [rowspan]=2
      [style.backgroundImage]="'url('+ app.img +')'"
      [routerLink]="['/appdetalle',app.id]" >
      <a [routerLink]="['/appdetalle',app.id]" ><mat-grid-tile-footer><span class="app-title"> {{app.text}} </span></mat-grid-tile-footer></a>
  </mat-grid-tile>
</ng-container>

</mat-grid-list>
</div>
