.app-card-img {
  cursor:pointer;
    background:no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: center center;
}
.app-card-img:not([class*='mat-elevation-z']) {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
.app-title{
  text-align: center;
  color: #3a7ca5;
}


.appsLista-container h1{
  text-align: center !important;
  color:#0d5ba6 !important; 
}
