<div class="login-wrap">
  <mat-card class="example-card">
   <mat-card-header style="text-align:center">
     <mat-card-title>Ingresar</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <form class="example-form">
       <table class="example-full-width" cellspacing="0">
         <tr>
           <td>
             <mat-form-field class="example-full-width">
             <input matInput placeholder="Usuario" [(ngModel)]="form.username" name="username" required>
             </mat-form-field>
           </td>
         </tr>
         <tr>
         <td><mat-form-field class="example-full-width">
           <input matInput placeholder="Contraseña" [(ngModel)]="form.password "type="password" name="password" required>
         </mat-form-field></td>
       </tr></table>
     </form>
     <mat-progress-spinner mode="indeterminate" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-spinner>
   </mat-card-content>
   <mat-card-actions>
     <button mat-raised-button (click)="login()" color="primary">Iniciar Sesión</button>
   </mat-card-actions>
 </mat-card>
 </div>
