.example-card {
  max-width: 600px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.login-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
