.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.sidenav .mat-toolbar {

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 10px;
  box-shadow: 1px 8px 6px rgba(0, 0, 0, 0.50);
}



.hidden {
  display:none;
}

.spacer{
  flex: 1 1 auto;
}
a{
  text-decoration: none !important;
  color:white;
}

.mat-icon {
    vertical-align: middle !important;
  }
