<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
  #drawer class="sidenav"
  [ngClass]="{hidden:!(isHandset$ | async)}"
  fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">

    <mat-nav-list *ngIf=loggedIn>
      <button mat-button [matMenuTriggerFor]="apps">Informatica</button>
      <mat-menu #apps="matMenu">
        <button mat-menu-item routerLink="/appslista">Aplicaciones</button>
      </mat-menu>
      <button mat-button routerLink="/normalizacion">Normalizacion</button>
      <button mat-button routerLink="/directorio">Telefonos</button>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/home">ABSA INTRANET</a>
      <span class="spacer"></span>
      <div class="mainmenu"[ngClass]="{hidden:(isHandset$ | async)}" >
      <button mat-button [matMenuTriggerFor]="apps"*ngIf=loggedIn>Informatica</button>
      <mat-menu #apps="matMenu">
        <button mat-menu-item routerLink="/appslista"*ngIf=loggedIn>Aplicaciones</button>
      </mat-menu>
      <button mat-button routerLink="/normalizacion"*ngIf=loggedIn>Normalizacion</button>
      <button mat-button routerLink="/directorio"*ngIf=loggedIn>Telefonos</button>
      </div>
      <span class="spacer"></span>
      <a> {{ userDisplayName }} <a href="http://correo.aguasbonaerenses.com.ar">
      <mat-icon style="color:white">mail_outline</mat-icon>
      </a></a>


    </mat-toolbar>

    <ng-content >
    </ng-content>



  </mat-sidenav-content>
</mat-sidenav-container>
