<div class="dir-container">
  <h1>DIRECTORIO TELEFONICO</h1>
 <div >
  <mat-form-field >
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar">
  </mat-form-field>
</div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Columna Nombre -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell  *matHeaderCellDef >NOMBRE Y APELLIDO</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>

    <!-- Columna Posicion -->
    <ng-container matColumnDef="posicion">
      <mat-header-cell *matHeaderCellDef>PUESTO</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.posicion}} </mat-cell>
    </ng-container>

    <!-- Columna Gerencia -->
    <ng-container matColumnDef="gerencia">
      <mat-header-cell *matHeaderCellDef>Gerencia/Direccion</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gerencia}} </mat-cell>
    </ng-container>

    <!-- Columna Edificio -->
    <ng-container matColumnDef="edificio">
      <mat-header-cell *matHeaderCellDef>UB LABORAL</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.edificio}} </mat-cell>
    </ng-container>
    <!-- Columna Interno -->
    <ng-container matColumnDef="interno">
      <mat-header-cell *matHeaderCellDef>INTERNO</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.interno}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


  </mat-table>
    <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
</div>
