<mat-card style="margin-top:10px" *ngFor="let publicacion of publicaciones">
<div class="post-borde" >
  <article class="post-contenedor">
    <div class="post-Wrapper">
      <a [routerLink]="['/publicacion',publicacion.id]">
        <div class="post-img-container">

            <div class="post-img-wrapper">
              <figure>
                  <div style="height: auto;">
                    <img  src="{{publicacion.img}}" style="opacity: 1;">
                  </div>
              </figure>
            </div>
        </div>
          <div >
            <h2>{{publicacion.title}}</h2>
          </div>
          <p class="post-text">{{publicacion.text}}</p>
        </a>
        <div class="post-footer-wrapper">
          <div class="post-footer-text">
            <!--<span class="post-footer-user" >Publicado por Desarrollo</span>-->
            <span class="post-footer-timestamp e1c8ga110">
              <span style="color:black;margin-top:2px;font-weight:bold;"> + {{publicacion.likes_count}} </span>
            </span>
            <button mat-icon-button [class.disable]="gethabilitado(publicacion.id)" [disabled]="gethabilitado(publicacion.id)" aria-label="Example icon-button with a heart icon"(click)="darlike(publicacion.id)">
  <mat-icon>thumb_up_alt</mat-icon>
</button>
          <!--  <div class="post-footer-comments">
              <a href="/2019/05/20/nyregion/nyc-taxi-medallion-loans-attorney-general.html#commentsContainer">3 Me Gusta <mat-icon style="font-size:15px; " >thumb_up</mat-icon></a>
            </div>-->
          </div>
        </div>
    </div>
  </article>
</div>
</mat-card>
