/*.cards-container{
  height: 100%;
  width:100%;
}

.post-card-img {
  cursor: pointer;
    background:no-repeat;
    background-size:cover;
    background-clip: border-box;
    background-position: center center;
    border-radius: 25px;
}
h2{
  color: #3a7ca5;
  text-decoration: underline;
}*/
.post-borde {
    border-bottom: 1px solid rgb(226, 226, 226);
}

.post-contenedor {
    width: 100%;
}

article{
  display: block;
}

.post-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
.post-img-container {
    float: left;
    width: calc(50% - 15px);
    margin-left: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.post-img-container img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 200px;
}

.post-img-wrapper {
    margin-bottom: 5px;
    width: 100%;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.post-footer-wrapper {
    position: relative;
    line-height: 0.8125rem;
}

.post-text {
    font-size: 1rem;
    line-height: 1.375rem;
    font-style: normal;
    -webkit-letter-spacing: 0.1px;
    -moz-letter-spacing: 0.1px;
    -ms-letter-spacing: 0.1px;
    letter-spacing: 0.1px;
    color: #555;
    -webkit-transition: color 0.6s ease;
    transition: color 0.6s ease;
    position: relative;
}

article a {
  text-decoration: none ;
  color:#3a7ca5 ;
}

.post-footer-wrapper {
    clear: both;
    padding: 10px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: justify;
    justify-content: flex-end;
}

.post-footer-text {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    font-weight: 500;
    -webkit-letter-spacing: 0.3px;
    -moz-letter-spacing: 0.3px;
    -ms-letter-spacing: 0.3px;
    letter-spacing: 0.3px;
    color: #999;
}

.post-footer-user {
    margin-right: 9px;
}

.post-footer-timestamp {
    display: inline-block;
    white-space: pre;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 500;
    color: #999;
    margin-right: 9px;
}


.post-footer-comments {
    border-bottom: 1px solid #eee;
    display: inline-block;
    -webkit-transition: border 0.6s ease;
    transition: border 0.6s ease;
}

.disable{
  color: blue !important ;
}
