.app-detalle {
  margin-left: 5%;
  margin-right:5%;
  margin-top: 2%;
  margin-bottom:5%;
  padding: 20px;


}

.app-detalle p{
  font-size: 18px;
  text-align: justify;
}

.app-detalle a{
  text-decoration: none;
  color: #2f6690;
}

.app-detalle mat-card-title{
  font-size: 24px !important;
}

.app-detalle mat-card-subtitle{
  font-size: 20px !important;
}
