<div class="app-detalle">

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" style="background-image: url('+{{app.img}}+');
      background-size: cover;"></div>
    <mat-card-title>{{app.text}}</mat-card-title>
    <mat-card-subtitle>Gestion de tramites y reclamos</mat-card-subtitle>
  </mat-card-header>
  <!--<img mat-card-image src="assets/img/tyr-banner.png" alt="Fortinet">-->
  <mat-card-content>
    <p>
      Sistema desarrollado integramente por el area de aplicaciones informaticas orientado a la generacion de Contactos, Tramites y Reclamos realizados tanto por usuarios internos como externos. <br />
      El sistema cuenta con un aplicativo destinado a produccion, y una direccion adicional donde se aloja el mismo sistema en estado de desarrollo. En el entorno de desarrollo se llevan a cabo las actividades de capacitacion en el uso del aplicativo, asi como tambien se usa para pruebas de las mejoras constantes que se realizan para el sitio.<br />
</p>
<br />
<h3>Links del aplicativo:</h3>
<mat-list>
  <mat-list-item>
    <mat-icon matListIcon>headset_mic</mat-icon>
  <a href="http://172.27.104.193/tyr/main.aspx" target="_blank">  <h3 matLine > TYR 2 Version Produccion</h3></a>
</mat-list-item>
<mat-list-item>
  <mat-icon matListIcon>headset_mic</mat-icon>
<a href="http://172.27.104.187/tyr/main.aspx" target="_blank">  <h3 matLine > TYR 2 Version Capacitacion y Desarrollo </h3></a>
</mat-list-item>
<mat-list-item>
  <mat-icon matListIcon>attach_file</mat-icon>
  <a href="assets/files/Manual_de_Tramites.pdf" download><h3 matLine > Manual de Tramites </h3></a>
</mat-list-item>
<mat-list-item>
  <mat-icon matListIcon>attach_file</mat-icon>
  <a href="assets/files/Manual_de_Reclamos.pdf" download><h3 matLine > Manual de Reclamos </h3></a>
</mat-list-item>
</mat-list>
  </mat-card-content>
</mat-card>
</div>
