@import '~@angular/material/theming';

@include mat-core();

$absa-theme-primary:mat-palette($mat-absa, A200, A100, A400);
$absa-theme-accent:mat-palette($mat-pink);

$absa-theme:mat-light-theme($absa-theme-primary, $absa-theme-accent);


@include angular-material-theme($absa-theme);
