/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f7f9 !important;
 }


.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
  right: 5px !important;
}

.mat-grid-tile-header{
  background-color:  rgba(0, 0, 0, 0 )!important;
  color: #0d5ba6 !important;
  justify-content: center !important;

}

.mat-grid-tile-footer{
  background-color:  rgba(0,0,0,.0) !important;
  justify-content: center !important;
  vertical-align: middle !important;
  height: 25px !important;
}

.logo{
  height: 60px;
  margin: 0 0 0 0;
  vertical-align: middle;
}

.mat-paginator-container{
 justify-content: center !important;
}

mat-cell{
  display:flex !important;
  justify-content:center!important;

}

mat-header-cell {
  display:flex;
  justify-content:center;
  color:#3a7ca5 !important;
}

mat-table {
  margin-bottom: 2% !important;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   z-index: 100000;
}

.post-container{
  margin-bottom: 250px !important;
  padding-bottom: 250px !important;
}

.dir-container{
  margin-bottom: 50px !important;
  padding-bottom: 50px !important;
}

.app-detalle{
  margin-bottom: 50px !important;
  padding-bottom: 50px !important;
}
.appsLista-container{
  margin-bottom: 50px !important;
  padding-bottom: 50px !important;
  margin-left: 5%;
  margin-right: 5%;
}
