
<mat-grid-list [cols]="7" rowHeight="fit" style="height:100%" >
  <mat-grid-tile class="main"
      colspan="5"
      rowspan="10">
      <mat-grid-tile-header><h1>PUBLICACIONES</h1></mat-grid-tile-header>
      <div class="post-container" >
      <app-post></app-post>
      </div>
  </mat-grid-tile>
  <mat-grid-tile class="main"
      colspan="2"
      rowspan="10">
      <mat-grid-tile-header><h1>APLICACIONES</h1></mat-grid-tile-header>
      <div class="thumb-container" >
      <app-thumb></app-thumb>
      </div>
  </mat-grid-tile>
</mat-grid-list>
<div class="filler">

  </div>
