
.thumb-container{
  height: 100%;
  width:100%;
  margin-top: 60px;
}

.post-container{
  margin-top: 60px;
  height: 100%;
  width:100%;
}
.mat-grid-tile .mat-figure {
   justify-content: flex-start !important ;
   align-items: flex-start !important;
}

.main{
    height:100% !important;
     overflow:visible !important;
}
h1{
  font-size: 24px !important;
}

.filler
{
    font-size: 0;
    height: 45 0px;
    width: 100%;
    line-height: 0;
    display: inline-block;
}
